body,
p {
    padding: 0;
    margin: 0;
    background-color: beige;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1 {
    margin: 0;
    font-size: 1.2rem;
}

button {
    height: 30px;
    width: 90px;
    border: 0px solid;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

.hitbtn:hover {
    background-color: mediumaquamarine;
}

.hitbtn {
    background-color: rgb(9, 181, 123);
}

.hitbtn:disabled {
    background-color: rgb(89, 89, 89);
}

.standbtn {
    background-color: salmon;
}

.standbtn:hover {
    background-color: rgb(255, 160, 150);
}

.standbtn:disabled {
    background-color: rgb(89, 89, 89);
}

.resetBtn {
    background-color: salmon;
}

.resetBtn:hover {
    background-color: rgb(255, 160, 150);
}

.header {
    height: 30px;
    width: 100%;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: white;
    margin-bottom: 1rem;
}

.hitmiss {
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.maingame {
    width: 70%;
    max-width: 1080px;
    min-width: 720px;
    margin: 0 auto;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
}

.scoreboard>p {
    margin: 0px;
}

.divider {
    width: 100%;
    background-color: black;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    height: 13rem;
    width: 8rem;
    min-width: 8rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    display: flex;
    margin: 1rem;    
    box-shadow: 5px 5px 17px -1px rgba(0,0,0,0.47)    ;
}

.black {
    color: black;
}

.red {
    color: red;
}

.cards {
    position: relative;
    z-index: 0;
    display: flex;
    overflow-x: auto;
}

.cornerval {
    margin: 0.3rem;
    align-self: flex-start;
}

.cornervalbottom {
    margin: 0.3rem;
    align-self: flex-end;
}

.centerval {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    line-height: 13rem;
    font-size: 2.5rem;
}

.backdrop {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.modal {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10rem;
    width: 20rem;
    margin: -5rem 0 0 -10rem;
    background-color: beige;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.playAgainButtons {
    display: flex;
}

.overlay {
    z-index: 2;
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    color: rgba(173, 84, 84, 0.3);
    text-align: left;
    z-index: -1;
    margin: -1rem 0 0 -1rem;
    top: 50%;
    right: 0;
}

.headerBlock{
    display: flex;
}

.betBtn{
    height: 20px;
    width: 20px;
    border: solid 1px black;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin: 0 1rem 0 1rem;
    user-select: none;
}
